.descFather {
  display: flex;
}

.descImage {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 5vw;
}

.descSun {
  margin-top: 5vw;
  margin-right: 15vw;
}

.descAbout {
  display: flex;
  align-items: center;
}

.descAboutDetails {
  margin-top: 15px;
  margin-left: 20px;
  color: #555555;
}

.boldText {
  font-weight: bold;
}

.noPartnerText {
  font-weight: bold;
  color: #888888;
}

.whereText {
  margin-left: 5px;
  color: #888888;
}

.pinkText {
  color: #C81A78;
}

.descPrice {
  margin-top: 30px;
  margin-bottom: 50px;
}

.descSunPrice {
  display: flex;
  align-items: center;
  color: #C81A78;
}

.descPriceText {
  font-weight: bold;
}

.buttonAdd {
  background-color: #7EBC43;
  border: 1px solid #7EBC43;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  padding: 10px 90px;
}

.buttonAdd:hover {
  background-color: #13aa52;
  transition: 1s;
}

.buttonAddLess {
  background-color: #7EBC43;
  border: 1px solid #7EBC43;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
}

.textVoltar {
  margin-left: 2%;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.textVoltar:hover {
  color: #C81A78;
  transition: 0.2s;
}

.buttonAddLess:hover {
  background-color: #13aa52;
  transition: 1s;
}

@media (max-width: 800px) {
  .descFather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .textVoltar {
    display: none;
  }

  .descAbout {
    display: flex;
    justify-content: center;
  }

  .descSun {
    margin-left: 50px;
  }

}